body {
	font-family: 'Cabin', sans-serif;
	text-align: center;
	/*background-color: #D3D0CB;*/

    background: rgba(255,238,219,1);
    background: -moz-linear-gradient(top, rgba(255,238,219,1) 0%, rgba(235,215,193,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,238,219,1)), color-stop(100%, rgba(235,215,193,1)));
    background: -webkit-linear-gradient(top, rgba(255,238,219,1) 0%, rgba(235,215,193,1) 100%);
    background: -o-linear-gradient(top, rgba(255,238,219,1) 0%, rgba(235,215,193,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,238,219,1) 0%, rgba(235,215,193,1) 100%);
    background: linear-gradient(to bottom, rgba(255,238,219,1) 0%, rgba(235,215,193,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeedb', endColorstr='#ebd7c1', GradientType=0 );
}

header {
    font-family: 'Russo One', sans-serif;
    
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
    margin: 0px 0 0 0;
    color: #EAEAEA;
    font-size: 5vh;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center; /* align vertical */

    /*background-color: #393E41;*/
    background: rgba(186,59,70,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(186,59,70,1) 0%, rgba(161,47,58,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(186,59,70,1)), color-stop(100%, rgba(161,47,58,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(186,59,70,1) 0%, rgba(161,47,58,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(186,59,70,1) 0%, rgba(161,47,58,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(186,59,70,1) 0%, rgba(161,47,58,1) 100%);
    background: radial-gradient(ellipse at center, rgba(186,59,70,1) 0%, rgba(161,47,58,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba3b46', endColorstr='#a12f3a', GradientType=1 );
}

img {
	max-width: 170px; 
	max-height: 250px;
}

input, select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    /*background-color: #E2C044;*/
    background-color: #61C9A8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    height: 45px;
    margin-top: 16px;
    margin-left: 15px;
}

button:hover {
    /*background-color: #E4C555;*/
    background-color: #61C9B9;
}

button:disabled {
    background-color: #D3D3D3;
}

.container {
    display: flex;
    justify-content: center;
}

#divDescription {
    position: relative;
    margin-top: 80px;
    margin-bottom: -15px;
    border: 2px solid;
    border-radius: 25px;
    width: 80%;
    text-align: justify;
    padding-left: 25px;
    padding-right: 25px;
    font-size: small;

    /*background-color: #769396;*/
    background: rgba(237,155,64,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(237,155,64,1) 0%, rgba(222,144,60,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(237,155,64,1)), color-stop(100%, rgba(222,144,60,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(237,155,64,1) 0%, rgba(222,144,60,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(237,155,64,1) 0%, rgba(222,144,60,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(237,155,64,1) 0%, rgba(222,144,60,1) 100%);
    background: radial-gradient(ellipse at center, rgba(237,155,64,1) 0%, rgba(222,144,60,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed9b40', endColorstr='#de903c', GradientType=1 );
}

#formURL {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-top: 20px;
}

#labelURL {
    width: 20%;
    text-align: right;
    margin-right: 10px;
    margin-top: 13px;
}

#photoURL {
    width: 58%;
    height: 50%;
    margin-top: 18px;
}

#loading {	position:fixed;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -9em; 
    margin-left: -15em; 
    border: 5px solid #ccc;
    /*background-color: #769396;*/
    background-color: #AA8F66;
}

#loading-image { 
    position: absolute; 
    top: 40%; 
    left: 45%; 
    z-index: 100;
    max-width: 150px; 
    max-height: 150px; 
    margin-left: -50px;
} 

#errorMessage {
    margin-top: 0px;
	color: red;
}

#resultsDiv {
    padding-top: -20px;
    justify-content: space-around;
}

#resultsTitle {
    margin-top: -18px;
}

#compareImg {
    border: 1px solid #E2C044;
}

#imgCompare {
    margin-top: 35px;
    margin-bottom: 20px;
    max-height: 180px;
}

#share {
    margin-top: 25px;
    margin-bottom: -35px;
}

#labelCompartir {
    padding-top: 5px;
}

.logo {
    width: 32px;
    height: 32px;
    margin-left: 20px;
}

.result {
    border: 2px solid;
}

.resultText {
    margin: 5px;
}

/****** MEDIA QUERIES ********/

@media only screen 
  and (min-device-width: 37px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    header {
        font-size: 2.5vh;
        height: 70px;
        margin-left: -10px;
    }

    h3 {
        font-size: 0.9em;
        margin: 5px;
    }

    img {
        max-width: 150px; 
        max-height: 210px;
    }

    button {
        font-size: xx-small;
        padding: 5px 5px 5px 5px;
        height: 30px;
    }

    #divDescription {
        font-size: xx-small;
        margin-top: 70px;
    }

    #resultsDiv {
        margin-top: -10px;
    }

    #labelURL {
        font-size: xx-small;
    }

    #resultsDiv {
        flex-wrap: wrap;
    }

    #errorMessage {
        margin-bottom: 22px;
    }

    #photoURL {
        font-size: xx-small;
    }

    .result {
        margin-top: 10px;        
    }

    .resultText {
        margin: 0px;
    }
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 668px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    header {
        font-size: 3vh;
    }
}

/* ------- ANIMATIONS -------- */

/* Source: http://www.webdesignerdepot.com/2014/05/8-simple-css3-transitions-that-will-wow-your-users/ */
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing
{
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 10;
    animation-iteration-count: 10;
}