body {
	font-family: 'Cabin', sans-serif;
	text-align: center;
	background-color: #D3D0CB;
}

/*
body > div {
	width: 100%;
    align-items: center;
	justify-content: center;
    display: flex;
}
body > div > div {
	width: 33%;
	height: 100px;
}*/

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
    margin: 0px 0 0 0;
    background-color: #393E41;
    color: #EAEAEA;
    font-size: 5vh;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center; /* align vertical */
}

img {
	max-width:250px; 
	max-height: 250px;
}

input, select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 7.5%;
    background-color: #E2C044;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #E4C555;
}

#resultsDiv {
	padding-top: 20px;
}

#loading {	position:fixed;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -9em; 
    margin-left: -15em; 
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}
#loading-image { position: absolute; top: 40%; left: 45%; z-index: 100} 

#errorMessage {
	color: red;
}

#divDescription {
    position: relative;
    margin-top: 80px;
    margin-bottom: -15px;
    border: 2px solid;
    border-radius: 25px;
}

#container {
    display: flex;
    width: 75%;
}

/* Source: http://www.webdesignerdepot.com/2014/05/8-simple-css3-transitions-that-will-wow-your-users/ */
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing
{
	-webkit-animation: swing 1s ease;
	animation: swing 1s ease;
	-webkit-animation-iteration-count: 10;
	animation-iteration-count: 10;
}